.checkout-page {
  width: 100%;
  max-width: 700px;
  min-height: 120px;
  margin: 50px auto 0;

  table,
  thead,
  tbody,
  tfoot {
    display: block;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 2fr) repeat(2, 1fr) minmax(60px, max-content);
    justify-content: stretch;
    align-items: center;
    justify-items: center;
    padding: 10px 0;
    border-bottom: 1px solid darkgrey;
  }

  .total {
    margin-top: 30px;
    text-align: right;
    font-size: 36px;
  }
  .test-warning {
    text-align: center;
    font-weight: 300;
    color: #b30000;
    margin-top: 40px;
    font-size: 24px;
  }
  .center {
    width: max-content;
    margin: auto;
    margin-top: 30px;
  }
}
