.checkout-item {
  img {
    width: 100%;
    height: 50%;
  }

  .quantity {
    padding-left: 20px;
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;

    &:hover {
      color: salmon;
    }
  }

  .quantity {
    user-select: none;
  }

  .arrow {
    cursor: pointer;
    padding: 4px 6px;

    &:hover {
      color: salmon;
    }

    &:active {
      color: rosybrown;
    }
  }

  .value {
    margin: 0 4px;
  }
}
